<div class="newEventBG ">
  <nav>
    <div class="nav-wrapper light-green">
      <div class="container">
        <a href="#" class="brand-logo center light">Details</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/newEvent">Create</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="../users/{{cookie}}">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container section valign-wrapper center">
    <div class="grey lighten-3 rounded-box create-event-width
  opacity-results  center">
      <div class="center">
        <div class="ind-event">
          {{#each events}}
            {{#if @first}}
              <div class="spacer"></div>
              <div class="row center">
                <h1 class="light">{{this.title}}</h1>
              </div>
              <!-- <div class="row center">
              <div class="col s12 m8 offset-m2">
                <div class="divider"></div>
              <p>Private Event {{this.private}}</p>
              <div class="spacer"></div>
            </div>
          </div> -->
              <div class="row">
                <div class="col s12 m4 offset-m2">
                  <h5 class="light"><b>Location:</b> {{this.location}}</h5>
                </div>
            {{/if}}
          {{/each}}
          <div class="col s12 m4">
            <h5 class="light"><b>Date:</b> {{eventDate}}</h5>
          </div>
          {{#each events}}
            {{#if @first}}
              </div>
              <div class="row ">
                <div class="col s12 m4 offset-m2">
                  <h5 class="light"><b>Time:</b> {{formatTime this.time "h:mm A"}}</h5>
                </div>
                <div class="col s12 m4">
                  <h5 class="light"><b>Type of Event:</b> {{this.type}}</h5>
                </div>
              </div>
              <div class="row ">
                <div class="col s12 m8 offset-m2">
                  <h5 class="light"><b>Description:</b> {{this.description}}</h5>
                </div>
              </div>
            {{/if}}
          {{/each}}
          <div class="row center">
            <div class="col s12 m8 offset-m2">
              <h3 class="light">Attendees</h3>
              <div class="divider"></div>
            </div>
          </div>
          <div class="row">
            <ul>
              {{#each events}}
                <li>
                  <h4 class="light">{{this.first_name}}</h4></li>
              {{/each}}
            </ul>
          </div>
          <div class="rsvp">
            <form class="rsvp" action="/events/{{routeId}}" method="POST">
              <input class="btn-large light-green" type="submit" name="rsvp" value="RSVP">
            </form>
          </div>
          <div class="spacer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
